$navbar-height: 34px;

.header {
  width: 100%;
  height: calc($navbar-height * 2);
}
nav {
  background-color: #4b4b4b;
  > a {
    div {
      img {
        height: $navbar-height;
      }
      span {
        color: white;
      }
    }
  }

  div:nth-child(3) {
    ul {
      margin-top: 4px;
      li {
        margin: 6px;

        a {
          color: white;
        }

        a:hover {
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .collapsing {
      transition: none;
      min-height: 36px;
    }
  }
}
